@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
}

.btn-black {
  padding: 15px 30px;
  background-color: #0d1321;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.section-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}

.section-description {
  color: #555963;
  font-size: 16px;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.container {
  width: 946px;
  margin: 0 auto;
}

/* banner styles */
.banner-container {
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content {
  text-align: center;
}

.banner-content img {
  width: 20%;
  margin-top: 0;
}

.banner-content h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  margin-top: 28px;
}

.banner-content p {
  margin: 30px 0;
  color: #555963;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.banner-content a {
  display: block;
  text-decoration: none;
  margin-top: 10px;
}

/* why development section styles */

.development-container {
  width: 946px;
  height: 1233px;
  margin: 0 auto;
  background-color: #fafafb;
  margin-top: 80px;
  padding: 20px 97px;
}

.development-container h1 {
  margin-top: 60px;
  margin-bottom: 15px;
}

.development-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 40px;
  margin: 30px 0;
}

.development-text h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}

.development-text p {
  color: #565a56;
  font-size: 16px;
  font-weight: 400;
  margin: 15px 0;
}

.development-text button {
  border: 1px solid #565a56;
  color: #565a56;
  background: transparent;
  padding: 10px 25px;
  font-size: 18px;
}

.development-image {
  width: 259.56px;
  height: 217.01px;
}

.development-image img {
  width: 100%;
}

/* inspiration styles */

.inspiration-container {
  width: 946px;
  height: 775px;
  margin: 0 auto;
  text-align: center;
}

.inspiration-container h1 {
  margin-top: 30px;
}

.inspiration-container p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-frame {
  width: 946px;
  height: 514px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.video-frame iframe {
  border-radius: 16px;
}

/* current target section styles */

.target-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.target-content div {
  width: 364px;
  height: 299px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

.html {
  background-color: #fff6f4;
}
.html img,
.css img,
.javascript img {
  margin-bottom: 20px;
}

.html h3,
.css h3,
.javascript h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.html p,
.css p,
.javascript p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.html a,
.css a,
.javascript a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
}

.html a:visited {
  color: #0d1321;
}

.css {
  background-color: #f2f6fe;
}

.javascript {
  background-color: #fffdf2;
}

.mt-10 {
  margin-top: 10px;
}
